<mat-toolbar class="mt-3 justify-content-center">
	<p>
		Hope your visit is pleasant and mouth watering!
		You can also find us on
		<a href="https://www.facebook.com" mat-icon-button target="_blank">
			<img alt="facebook" src="./assets/images/social/facebook.png">
		</a>
		<a href="https://www.instagram.com" mat-icon-button target="_blank">
			<img alt="facebook" src="./assets/images/social/instagram.png">
		</a>
		<a href="https://www.twitter.com" mat-icon-button target="_blank">
			<img alt="facebook" src="./assets/images/social/twitter.png">
		</a>
	</p>
</mat-toolbar>

