<mat-sidenav-container class="sidenav-container">
	<mat-sidenav #drawer class="sidenav"
				 fixedInViewport
				 mode="side"
				 opened="false"
				 role="navigation">
		<mat-toolbar>Menu</mat-toolbar>
		<mat-nav-list>
			<a mat-list-item routerLink="/allProducts">All Products</a>
			<a href="#" mat-list-item>Link 2</a>
			<a href="#" mat-list-item>Link 3</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<mat-toolbar color="primary">
			<button
				(click)="drawer.toggle()"
				aria-label="Toggle sidenav"
				mat-icon-button
				type="button">
				<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
			</button>
			<img alt="logo" class="me-3" src="assets/images/favicon/favicon-32x32.png">
			<span class="fw-bold fs-3">Bake My Cake</span>
		</mat-toolbar>
		<!-- Add Content Here -->
	</mat-sidenav-content>
</mat-sidenav-container>
